<h1>Listing Ingredients</h1>
<div class="container">
  <div class="table">
      <h1>Name</h1>

    <div class="tr">
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= link_to 'Show', recipe %></td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </div>
  </div>
</div>
<br>

<%= link_to 'New Recipe', new_recipe_path %>
